<div class="floating-footer text-center">
    <div class="floating-footer-share">
        <a class="floating-footer-share-tw float-left" href="https://twitter.com/share?text={{encode title}}&amp;url={{url absolute="true"}}"
            onclick="window.open(this.href, 'share-twitter', 'width=550,height=235');return false;">
            {{> "icons/twitter"}}
        </a>
        <h4 class="share-this">SHARE THIS</h4>
        <a class="floating-footer-share-fb float-right" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
            onclick="window.open(this.href, 'share-facebook','width=580,height=296');return false;">
            {{> "icons/facebook"}}
        </a>
    </div>
</div>
